<style>
video{
    background-image:url('snippets/passo_1-poster-00001.jpg');
}
</style>
<div>
    <video  data-wf-ignore="true" aria-hidden="true">
        <source src="snippets/passo_1-transcode.mp4" data-wf-ignore="true" aria-hidden="true">
        <source src="snippets/passo_1-transcode.webm" data-wf-ignore="true" aria-hidden="true">
    </video>
</div>