<style type="text/css">
    .background-RE{
        background-image: url({{ section.settings.background-RE | image_url }});
        background-size: cover; 
        background-position: center;

        height: auto;
        padding: 5rem;

        margin-top: -130px;
    }

    .RE-container{
        display: flex;
        flex-direction: column;

        margin-top: 15rem;

        padding: 5rem;
    }

    .RE-container .RE-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .RE-container span{
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
    }

    .RE-container p, li{
        font-weight: 300;
        color: #fff;
    }

    .RE-container a{
        text-decoration: none;
        color:  #e99b00;
        font-weight: bold;
    }

    @media screen and (max-width: 1050px){
        .RE-container{
            padding: 0rem;
        }

        .RE-container .importantinfos{
            font-size: 2rem;
        }
    }

</style>

<div class="background-RE">
    <div class="RE-container" >
        <div class="RE-title">
            <span style="font-size: 4rem; color: #fff; font-weight: bold">Política de troca e devoluções</span>
        </div>
        <hr  width="40%" align="center" style="border: 0.5px solid rgba(0,0,0,0.200); background-color: rgba(0,0,0,0.200)" />
        <div>
            <div>           
                <span>Política de entrega</span>
                <p style="font-weight: 400;">O envio do seu pedido pode ser feito via transportadora ou Correios (PAC ou SEDEX),
                de acordo com a sua escolha. O valor do frete e prazo de entrega variam de acordo com o CEP de destino
                e podem ser simulados antes de você finalizar sua compra.</p>
            </div>
            <div>           
                <span class="importantinfos">Informações importantes:</span>
                <ul>
                    <li>O prazo de entrega é contado a partir da confirmação do pagamento pela instituição financeira responsável,
                    para pagamentos em boleto bancário o prazo para compensação pode demorar até 72h úteis,
                    sendo o pedido despachado somente após essa confirmação.</li>
                    <li>Os pedidos realizados aos finais de semana e feriados, serão recebidos, separados e enviados somente no próximo dia útil.</li>
                    <li>Em relação a entrega, podem surgir imprevistos externos que impliquem em eventuais atrasos. Nesses casos, os cliente sempre serão avisados.</li>
                    <li>É muito importante que o cliente esteja atento à entrega do pedido, acompanhando através do código de rastreamento que é informado no e-mail para que a transportadora não tenha problema no ato da entrega.</li>
                    <li>Na ausência do cliente no ato da entrega pela transportadora, a mesma tem a responsabilidade de tentar mais uma vez realizar a entrega, caso o destinatário final não esteja possibilitado em receber a mercadoria, o produto retornará ao centro logístico da Peppy Berry.</li>
                    <li>O cliente que autoriza aos administradores, gerentes, porteiros ou zeladores a receberem a mercadoria. Estes respondem, após o recebimento, isentando a Peppy Berry de qualquer responsabilidade quanto a violação, perda ou extravio da mercadoria que foi entregue, caso ocorra.</li>
                </ul>
            </div>
            <div>           
                <span>Atenção:</span>
                <p style="font-weight: 400;">Situações que podem gerar atraso da mercadoria:</p>
                <ul>
                    <li>Inconsistência nos dados informados no cadastro;</li>
                    <li>Ausência de um responsável no local de entrega;</li>
                    <li>Área considerada de risco pelos Correios e transportadora;</li>
                    <li>Recusa no recebimento da mercadoria por terceiros;</li>
                    <li>Roubo, avarias, extravio;</li>
                    <li>Mudança de endereço;</li>
                    <li>Análise fiscal realizada pela Receita Federal para conferência de carga e nota fiscal;</li>
                    <li>Fatores naturais como chuvas e acidentes, entre outros;</li>
                </ul>
                <p style="font-weight: 400;">Qualquer dúvida com as informações, entre em contato com a gente através do e-mail <a href="mailto:contato@peppyberry.com.br">contato@peppyberry.com.br</a> que vamos analisar a situação caso a caso, tá certo? Teremos o maior prazer em respondê-lo, abraços da Equipe Peppy Berry.</p>
            </div>
            <div>           
                <span>Devolução de compra:</span>
                <ul>
                    <li>Se ao receber o produto, você resolver devolver por arrependimento, deverá ser feito em até 7 (sete) dias corridos, a contar a partir da data de entrega;</li>
                    <li>Antes do envio, você deve entrar em contato pelo e-mail <a href="mailto:contato@peppyberry.com.br">contato@peppyberry.com.br</a> para obter um direcionamento;</li>
                    <li>O produto não poderá ter indícios de uso e deve estar em perfeitas condições;</li>
                    <li>O produto deverá ser encaminhado na embalagem original e obrigatoriamente deve estar acompanhado da nota fiscal;</li>
                    <li>Ao efetuar o processo de devolução você deverá no verso da nota fiscal a ser devolvida, informar o motivo da devolução e a data da devolução;</li>
                    <li>O produto a ser devolvidos, independente do motivo, só poderão ter sido comprado no nosso site <a href="http://www.peppyberry.com.br">www.peppyberry.com.br</a> sendo obrigatório a apresentação da nota fiscal;</li>
                    <li>O produto da Peppy Berry adquiridos em pontos de venda não são de responsabilidade nossa. Se seu produto apresentar algum problema, é só ir na loja em que comprou o produto para averiguar a possibilidade de troca;</li>
                    <li>Caso você tenha obtido desconto em sua compra, referente a uma ação promocional ou a um cupom de desconto, sua devolução será do valor pago, considerando esse desconto;</li>
                    <li>Você será responsável pelo pagamento do frete para devolver o produto em caso de troca por arrependimento ou desistência. Não reembolsaremos este frete!;</li>
                    <li>Em caso de devolução por defeitos/danos, o frete será custeado pela Peppy Berry;</li>
                </ul>
            </div>
            <div>           
                <span>Importante:</span>
                <ul>
                    <li>O cliente deve recusar imediatamente o recebimento do seu produto caso a embalagem do produto estiver violada e/ou o pedido esteja em desacordo com o solicitado no nosso site;</li>
                    <li>A Peppy Berry não se responsabiliza caso seu pedido seja recebido sem as conferências citadas acima;</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "RE Policy",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "background-RE",
            "label": "Background"
        }
    ],
    "presets": [
        {
        "name": "RE Policy",
        "category": "imagem"
        }
    ]
}
{% endschema %}